html, body {
    position: relative;
    height: 100%;
}

body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.swiper-container {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /*       Center slide text vertically */

    /*
          display: -webkit-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          -webkit-justify-content: center;
          justify-content: center;
          -webkit-box-align: center;
          -ms-flex-align: center;
          -webkit-align-items: center;
          align-items: center;
    */
}

.music {
    width: 60px;
    height: 60px;
    position: fixed;
    top: 4%;
    left: 80%;
    z-index: 9;
}

.img2 {
    width: 44px;
    height: 44px;
    position: absolute;
    top: 8px;
    left: 8px;
    animation: run 6s infinite linear;
}

@keyframes run {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.img1 {
    width: 60px;
    height: 60px;
}

.one {
    background: url("../img/timg .jpg");
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    position: relative;
}
.swiper-slide .ono-top1 img{
    width: 90%;
    height: 90%;
    position: absolute;
    left:5%;
    top: 5%;
}
.swiper-slide .ono-top2 img{
     width: 80%;
    height: 80%;
    position: absolute;
    left:10%;
    top: 10%;
    border-radius:10px 10px;
    box-shadow: 10px 10px 10px #ccc;
    animation: tu 2s alternate infinite;
}
@keyframes tu {
    0%{ opacity: 0.6}
    50%{opacity: 0.7}
    100%{ opacity:0.8}
}
.swiper-slide .one-top{
    width: 60%;
    height: 60%;
    position: absolute;
    top:20%;
    left: 20%;
}
.swiper-slide .one-top img{
    width: 100%;
    height: 100%;
}
.one .conter{
    position: absolute;
    top:9%;
    left: 13%;
    width: 70%;
    height: 10%;
    margin: auto; 
}
.one .bottom{
 width: 80%;
    height: 10%;
    position: absolute;
    top:74%;
    left: 10%;
}
.two-top{
    color:#000;
    position: absolute;
    top:9%;
    left: 13%;
    width: 70%;
    height: 10%;
    margin: auto; 
}
.two-center{
    width: 70%;
    height: 50%;
    position: absolute;
    top:20%;
    left: 15%;
    text-align: left;
    font-size: 5vw;
}
.two-bottom{
    width: 50%;
    height: 20%;
    position: absolute;
    top:77%;
    left: 45%;
    z-index:9;
}
.one-hau{
    width: 90%;
    height: 90%;
    position: absolute;
}
.one-hua1{
    position: absolute;
    top:85%;
    left: -10%;
    z-index: 3;
}
.one-hua3{
    position: absolute;
    top:75%;
    left:-15%;
    z-index: 3;
}
.one-hua3 img{
    width:62%;
    height: 10%;
    transform: rotate(-20deg);
}
.three-top1{
    width: 10%;
    height: 10%;
    position: absolute;
    top:20%;
   left: 10%;
}
.three-center-left{
    width: 30%;
    height: 20%;
    position: absolute;
    top:20%;
    left: 25%;
}
.three-center-right{
    width: 30%;
    height: 20%;
    position: absolute;
    top:20%;
    left:55%;
}
.three-center-left.left1{
    top:25%;
}
.three-center-right.right1{
    top:25%;
}
.three-center-left.left2{
    top:30%;
}
.three-center-right.right2{
    top:30%;
}
.three-center-left.left3{
    top:35%;
}
.three-center-right.right3{
    top:35%;
}
.three-center-left.left4{
    top:40%;
}
.three-center-right.right4{
    top:40%;
}
.three-top2{
    width: 10%;
    height: 10%;
    position: absolute;
    top:45%;
    left: 10%;
}
.three-right-left{
    width: 30%;
    height: 20%;
    position: absolute;
    top:50%;
    left: 25%;
}
.three-right-right{
    width: 30%;
    height: 20%;
    position: absolute;
    top:50%;
    left:55%;
}
.three-right-left.left1{
    top:55%;
}
.three-right-right.right1{
    top:55%;
}
.three-right-left.left2{
    top:60%;
}
.three-right-right.right2{
    top:60%;
}
.three-right-left.left3{
    top:65%;
}
.three-right-right.right3{
    top:65%;
}
.three-right-left.left4{
    top:70%;
}
.three-right-right.right4{
    top:70%;
}